.H5-content{
  align-items: baseline;
}
.h5-login-Page{

}


.yzmImage{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-55%);
}
.top-title{
  font-size: 22px;
  color: #73523C;
  padding: 30rem 0;
  width: 320rem;
  margin: 0 auto;
}
.sub-title-mes{
  width: 375rem;
  height: 24rem;
  padding: 0 28rem;
  background: #ECECEC;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
}
.title-mes{
  font-size: 12rem;
  padding: 8rem 0;
  width: 320rem;
  margin: 0 auto;
  color: #8D8D8D;
}
.register-button{
  display: block;
  width: 320rem;
  margin: 0 auto;
  margin-top: 10rem;
  color: #B78E74;
  height: 46rem;
}


.h5-login-container{
  width: 320rem;
  margin: 0 auto;
  overflow: hidden;
  .ant-input, .ant-select-selection, .ant-calendar-picker{
    border-width: 0px 0px 1px 0px;
    border-radius: 0;
    &:active{
      border-width: 0px 0px 1px 0px;
      border-radius: 0;
    }
    &:focus{
      border-right-width: 0;
      box-shadow: none;
      border-width: 0px 0px 1px 0px;
      border-radius: 0;
    }
  }
  .form-button-box{
    display: flex;
    flex-direction: column;
    .login-form-button{
      font-size: 14px;
      padding: 16rem auto;
      height: 52rem;
    }
    .forget-form-button{
      background: none;
      height: 52rem;
      font-size: 14px;
      border: 0;
      color: #432512;
    }
  }
  .form-two-box{
    display: flex;
    align-items: center;
    .left-date{
      margin-right: 30rem;
    }
  }
}