.footer-content {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background: #ececec;
  margin-top: 20px;
  .footer-item {
    & + .footer-item {
      margin-left: 120px;
    }
    .footer_name {
      font-size: 24px;
      font-weight: 500;
      color: #73523c;
    }
    .footer_detail {
      display: flex;
      flex-direction: column;
      .footer_mes {
        padding-top: 24px;
        font-size: 18px;
        font-weight: 500;
        color: #291e1a;
      }
    }
  }
}
// import tub2 from "@/assets/images/tub2.png";

.h5-footer-content{
  display: flex;
  padding-top: 12rem;
  box-shadow: 0px -2px 9px #bbb;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 99999;
  .h5-footer-item{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    &.active{
      .name{
        color: #B78E74;
      }
    }
    .img{
      height: 27rem;
      width: 24rem;
      background-repeat: no-repeat;
    }
    .name{
      display: inline-block;
      padding: 8rem 0;
      font-size: 9rem;
      font-weight: 400;
      color: #1A1A1A;
    }
  }
}

