.footer-content {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background: #ececec;
  margin-top: 20px;
  .footer-item {
    & + .footer-item {
      margin-left: 120px;
    }
    .footer_name {
      font-size: 24px;
      font-weight: 500;
      color: #73523c;
    }
    .footer_detail {
      display: flex;
      flex-direction: column;
      .footer_mes {
        padding-top: 24px;
        font-size: 18px;
        font-weight: 500;
        color: #291e1a;
      }
    }
  }
}
// import tub2 from "@/assets/images/tub2.png";

.h5-footer-content{
  display: flex;
  padding-top: 12rem;
  box-shadow: 0px -2px 9px #bbb;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 99999;
  .h5-footer-item{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    &.active{
      .name{
        color: #B78E74;
      }
    }
    .img{
      height: 27rem;
      width: 24rem;
      background-repeat: no-repeat;
    }
    .name{
      display: inline-block;
      padding: 8rem 0;
      font-size: 9rem;
      font-weight: 400;
      color: #1A1A1A;
    }
  }
}


.kefu-h5-back{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 999999;
  background-color: #000;
  opacity: 0.7;
}
.kefu-h5-content{
  position: fixed;
  left: 50%;
  right: 0;
  bottom: 0;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 9999999;
  width: 272rem;
  height: 181rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .kefu-h5-message{
    display: flex;
    width: 270rem;
    flex-direction: column;
    background: #FFFFFF;
    align-items: center;
    .icon-phone{
      color: #fff;
      font-size: 30rem;
      background-color: #B78E74;
      border-radius: 50%;
      padding: 4rem;
      margin: 16rem 0;
    }
    .phone-number{
      font-size: 22px;
      color: #73523C;
      display: inline-block;
      padding-bottom: 10rem;
    }
    .kefu-time{
      font-size: 14px;
      color: #888888;
      display: inline-block;
      padding-bottom: 24rem;
    }
    .kefu-other{
      font-size: 12px;
      display: inline-block;
      padding-bottom: 24rem;
      color: #A9A9A9;    
      line-height: 20rem;
    }
  }

  .close-btn{
    font-size: 24rem;
    padding: 8rem;
    background: #FFFFFF;
    border-radius: 50%;
    margin: 24rem;
    cursor: pointer;
  }
  
}