.footer-content {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background: #ececec;
  margin-top: 20px;
  .footer-item {
    & + .footer-item {
      margin-left: 120px;
    }
    .footer_name {
      font-size: 24px;
      font-weight: 500;
      color: #73523c;
    }
    .footer_detail {
      display: flex;
      flex-direction: column;
      .footer_mes {
        padding-top: 24px;
        font-size: 18px;
        font-weight: 500;
        color: #291e1a;
      }
    }
  }
}
