.CigarDetailPage{
  width: 1200px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 60px;
  display: flex;
  .left-content{
    width: 300px;
    margin-right: 36px;
    border: 1px solid #B78E74;
    .left-mess-title{
      padding: 16px;
      color: #000;
      margin-bottom: 70px;
      font-size: 18px;
    }
    .detail-mess-box{
      padding-bottom: 80px;
      .render-left-item{
        margin: 0 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #8D8D8D;
        .showFahter{
          max-height: 50px;
          transition: max-height .5s ease;
          overflow: hidden;
          position: relative;
          .jian-tou{
            position: absolute;
            content: '';
            width: 0;   
            height: 0;  
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #B78E74;
            right: 0;
            top: 25px;
          }
          &.showAll{
            max-height: 500px;
           .jian-tou{
              border-top: 0;
              border-bottom: 10px solid #B78E74;
            }
          }
          .top-message{
            font-size: 18px;
            padding: 16px 0;
          }
          .bottom-child{
            display: flex;
            flex-direction: column;
            .child-item-key{
              padding: 12px 0;
              font-size: 18px;
            }
          }
          &.color-father{
            .bottom-child{
              display: flex;
              flex-direction: row;
              .child-item{
                margin-right: 12px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
  .right-content{
    flex: 1;
    .title-mes{
      font-size: 50px;
      font-weight: 700;
      color: #000000;
    }
    .descrip-mes{
      font-size: 18px;
      color: #767676;
      padding: 30px 0 10px;
    }

    .tool-box{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 20px;
      padding: 8px;
      background: #E7E7E7;
      margin-bottom: 16px;
      .pinzige, .tiaozhuang{
        padding: 10px;
        cursor: pointer;
        &.active{
          background: #B78E74;
          color: #fff;
        }
      }
      .select-action{
        margin-left: 10px;
      }
    }

    .right-cigar-box{
      display: flex;
      flex-wrap: wrap;
    }
    
    // 单个cigar 田字格
    .pinzige-content{
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 10px;
      border: 1px solid #B78E74;
      margin-bottom: 10px;
      margin-right: 10px;
      .top-fen-content{
        position: absolute;
        top: 10px;
        right: 10px;
        left: 10px;
        display: flex;
        justify-content: space-between;
        background: #fff;
        .left-fen{
          font-size: 36px;
          color: #73523C;
        }
        .right-mes{
          text-align: right;
          .user-content{
            font-size: 18px;
            color: #73523C;
            .user-icon{
              color: #73523C;
              font-size: 20px;
            }
          }
        }
      }
      .cigar-img{
        width: 252px;
        height: 260px;
        // background-color: #fabb91;
      }
      .bottom-content{
        .cigar-price{
          font-size: 32px;
          color: #B78E74;
        }
        .top-mes{
          display: flex;
          flex-direction: column;
          font-size: 14px;
          font-weight: 400;
          color: #000000;
        }
        .action-content{
          display: flex;
          margin-top: 16px;
          .myheart{
            width: 32px;
            height: 32px;
            color: #B78E74;
            border: 1px solid #B78E74;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            border-radius: 4px;
            cursor: pointer;
          }
          .add-bus{
            flex: 1;
          }
        }

      }
    }


    // 单个的cigar 条形
    .cigar-item-content{
      flex: 1;
      display: flex;
      padding: 6px 10px;
      margin-bottom: 8px;
      border: 1px solid #B78E74;
      margin-bottom: 8px;
      .left-image{
        width: 140px;
        height: 140px;
      }
      // middle
      .item-cigar-box{
        padding-left: 12px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .top-mes{
          display: flex;
          flex-direction: column;
          width: 326px;
          font-size: 14px;
          font-weight: 400;
          color: #000000;
        }
        .bottom-star{
          display: flex;
          align-items: center;
          .fen{
            font-size: 36px;
            color: #73523C;
          }
          .rate{
            margin: 0 20px;
          }
          .user-content{
            font-size: 18px;
            color: #73523C;
            .user-icon{
              font-size: 20px;
            }
          }
        }
      }
      // right
      .right-price{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        .cigar-price{
          font-size: 32px;
          color: #B78E74;
        }
        .action-content{
          display: flex;
          .myheart{
            width: 32px;
            height: 32px;
            color: #B78E74;
            border: 1px solid #B78E74;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            border-radius: 4px;
            cursor: pointer;
          }
        }
      }
    }
  }
}







// 空的时候展示
.empty-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 60px;
  .icon-image{
    font-size: 72px;
    color: #BA8056;
  }
  .detail-mes{
    font-size: 24px;
    font-weight: 500;
    color: #74523C;
    padding: 20px;
  }
  .link-content{
    font-size: 14px;
    font-weight: 500;
    color: #74523C;
    .link-url{
      color: #0067FF;
      font-style: normal;
      display: inline-block;
      padding: 0 12px;
      cursor: pointer;
    }
  }
}
